
ul{color:#666;}
.header{border-bottom: 2px solid #60a411;}
.cart_main{margin-top: 20px;}
.cart_title{overflow:hidden;}
.cart_titlel{float: left;font-size:20px;font-weight: bold;color:#333;}
.cart_titler{float: right;}

.cart_box ul{border-top: 1px solid #DBDBDB;overflow:hidden;}
.cart_box ul li{border:1px solid #DBDBDB;border-top: 0 none;overflow:hidden;}
.red_pri{color:red;margin:0 5px;}
.button_pri{background: red;color:#fff;width: 40px;height: 20px;line-height: 20px;text-align: center;display: inline-block;cursor: pointer;}
.cart_box li div{display:inline-block;font-size:12px;color:#666;line-height: 30px;}
.choose{width: 30px;margin-left: 20px;float: left;}
.img{width: 80px;margin:0 20px;float: left;}
.txt{width: 370px;margin-right: 50px;float: left;}
.cost{width: 110px;float: left;}
.privilege{width: 110px;float: left;}
.number{width: 100px;float: left;}
.money{width: 110px;float: left;}
.operate{width: 80px;margin-right: 20px;float: left;}
.li2{line-height: 38px;background:#e8e8e8;}
.choose input{vertical-align: middle;}

.li3 .img{padding:3px 4px;background:#e8e8e8;display:inline;margin-top: 5px;}
.cart_box li .lh{line-height: 80px;}
.mtm{vertical-align: top;margin-top: 14px;}
.cart_box li .lh_l{width: 18px;height: 14px;}
.cart_box li .upp{background:url(../img/goodsinfo_img1a.png) no-repeat 0 0;margin-bottom: 5px;}
.cart_box li .downn{background:url(../img/goodsinfo_img1a.png) no-repeat 0 bottom;}
.cart_box li .ruo{color:#999;margin-bottom: 5px;}
.mt{margin-top: 20px;}
.tac{text-align: center;}
.number input{width: 10px;}
.upp,.downn{cursor: pointer;}
.cart_box li .color_red{color:red;}
.pad{padding:3px;background:#ff9518;display:inline;color:#fff;}
.str{color:#666;}
.choose_box{margin-top: 20px;overflow:hidden;}
.choose_box div{display:inline-block;}
.choose_boxl{margin-right: 50px;}
.choose_box input{float: left;}
.choose_box em{float: left;margin-left: 5px;}
.all_pri{overflow:hidden;}
.all_pri .fl{float: right;}
.cored{color:red;font-size:30px;}
.last{margin-top: 20px;overflow:hidden;}
.jixu{height: 35px;width: 160px;background:#999;text-align: center;line-height: 35px;color:#fff;float: left;cursor: pointer;font-size:18px;}
.jixu span{font-weight: bold;font-size:20px;color:#fff;margin-right: 20px;}
.jiesuan{height: 35px;width: 160px;background:red;line-height: 35px;text-align: center;color:#fff;float: right;cursor: pointer;font-size:18px;}
.jiesuan span{font-weight: bold;font-size:20px;color:#fff;margin-left: 20px;}
.bd img{float: left;margin-right: 5px;border:1px solid #ccc;margin-left: 10px;cursor: pointer;}
.bd div{float: left;}
.bd .wid_box{width: 150px;margin-bottom: 5px;}
.bd strong{color:red;margin-right: 5px;margin-left: 5px;}
.bd .txt_box{text-align: left;}
.bd .buy_box{width: 50px;height: 20px;background:#ccc;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;color:#333;text-align: center;margin-top: 5px;line-height: 20px;cursor: pointer;}
.bd .buy_box:hover{color:red;text-decoration: underline;}
.like_tit{background:#F3F3F3;height: 38px;}
.like_title{color:#397300;border-bottom: 1px solid #60a411;height: 38px;line-height: 38px;width: 200px;text-align: center;margin-top: 20px;font-size: 14px;}
.like_box,.like_box1{margin-top: 10px;}
.like_box ul{overflow: hidden;}
.like_box li{float: left;width: 160px;height: 226px;text-align: center;overflow: hidden;padding:0 15px;}
.like_box li img{cursor: pointer;}
.like_box li p{text-align: left;}
.like_box li .pri_box:hover{color:red;text-decoration: underline;}
.like_box li strong{color:red;margin-right: 5px;}
.price_box{margin-top: 5px;}
